    <header>
        <nav id="navbar">
            <div class="logo"><a href="/" >techmeg</a></div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="/">About</a></li>
                <li class="nav-item"><a href="/projects">Projects</a></li>
                <li class="nav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>