    <header>
        <nav id="navbar">
            <div class="logo"><a href="/" ><img src="/images/techmeg.png" alt="techmeg logo"></a></div>
            <ul class="nav-menu">
                <li class="nav-item"><a class="links" href="#welcome-section">About</a></li>
                <li class="nav-item"><a class="links" href="#work">Work</a></li>
                <li class="nav-item"><a class="links" href="#contact">Contact</a></li>
                <li class="nav-item"><a class="links" href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>