    <header>
        <nav id="navbar">
            <div class="logo">techmeg</div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="#welcome-section">About</a></li>
                <li class="nav-item"><a href="#projects">Work</a></li>
                <li class="nav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>