---
layout: "base.njk"
title: "title"
---
<body>
    <header>
        <nav id="navbar">
            <div class="logo"><a href="/" ><img src="/images/techmeg.png" alt="techmeg logo"></a></div>
            <ul class="nav-menu">
 
                <li class="nav-item"><a class="links" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article class="projects">
            <h1 class="projects-heading">{{ title}}</h1>
            <div class="project-container">
                <figure class="project-feature">
                    <a class="project-site-link" href="{{ siteLink }}"><img src="{{ image }}" alt="{{ imageAlt }}"></a>
                    <figcaption class="caption"> {{ imageAlt }} </figcaption> 
                </figure>
                <div class="project-text">
                {{ content | safe }}
                </div>
                <a class="project-code-link" href="{{ codeLink }}">Link to Code</a>
            </div>
        </article>