    <header>
        <nav id="navbar">
            <div class="logo"><a href="/" ><img src="/images/techmeg.png" alt="techmeg logo"></a></div>
            <ul class="nav-menu">
 
                <li class="nav-item"><a class="links" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>