---
layout: "base.njk"

---
<main>
    <section id="welcome-section">
        <h1>Hi. Meg here.</h1>
        <img class="cameo" src="images/meg-at-color-factory.png" alt="meg at Color Factory" />
        <p class="welcome-text"> I am a career project manager who has turned to web development for fun and career expansion. I get a kick out of making the front end look pretty, although I'm interested in rooting around the back end too. My goal is to get as much coding in as possible, while using my organization skills to help the trains run on time.</p>

    </section>
    <section  id="projects">
        <h2>Here is a sampling of my work.</h2>
        <div class="tiles">
            <div class="project-tile">
                <a href="https://techmeg.github.io/kitty-corner/" target="_blank" ><img src="images/kitty-corner.jpg" alt="landing page of Kitty Corner site" /><p tabindex=0 class="image-label">Kitty Corner</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/fm-launch-countdown-timer/" target="_blank"><img src="images/countdown-timer.png" alt="countdown timer" /><p tabindex=0 class="image-label">Countdown Timer</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/unplugged/" target="_blank"><img src="images/unplugged.png" alt="landing page band site" /><p tabindex=0 class="image-label">Unplugged</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/to-do-app/" target="_blank"><img src="images/to-do-app.png" alt="to-do list app" /><p tabindex=0 class="image-label">To Do App</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/calculator-app/" target="_blank"><img src="images/calculator-app.png" alt="calculator app" /><p tabindex=0 class="image-label">Calculator App</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/stats-preview-card/" target="_blank"><img src="images/stats-preview-card.png" alt="calculator app" /><p tabindex=0 class="image-label">Stats Preview Card</p></a>
            </div>
            <div class="project-tile">
                <a href="https://techmeg.github.io/menu-codepen-challenge/" target="_blank"><img src="images/menu.png" alt="menu" /><p tabindex=0 class="image-label">Menu</p></a>
            </div>
        </div>
        <div class="profile-link">
            <a id="profile-link" target="_blank" href="https://github.com/techmeg">See more work</a>
        </div>

    </section>
    {% include "footer.njk" %}
</main>
    