---
layout: "base.njk"
---

<body>
    <header>
        <nav id="navbar">
            <div class="logo"><a href="/" ><img src="/images/techmeg.png" alt="techmeg logo"></a></div>
            <ul class="nav-menu">
 
                <li class="nav-item"><a class="links" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
     <div >
            <div class="projects">
                <h1 class="projects-heading">Projects.</h1>
                <div class="project-list">
                    {%- for project in collections.project | reverse -%}
                        {% include "projectSnippet.njk" %}
                    {%- endfor -%}
                </div>
            </div>
        </div>