* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --home-bg-color: #333;
    --home-color: mediumorchid;
    --accent-bg-color:  rgba(0, 255, 255, 0.666);
    --accent-nav: rgb(0, 255,255);
    --projects-bg: rgb(187, 248, 248);
    --accent-color: rgb(14, 18, 136);
    --break-nav: 600px;
    --break-page: 768px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
img {
    display: block;
    object-fit: cover;
    width: 100%;
}
a {
    text-decoration: none;
}

.home, footer {
    background: var(--home-bg-color);
    color: var(--home-color);
}

#navbar {
    background: var(--accent-nav);
    color: var(--accent-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
.logo {
    font-size: 2.8rem;
    font-weight: 800;
    font-style: italic;
    margin-left: 1rem;
    padding: 1rem 0 0;
    width: 100%;
}
.logo a:hover, .logo a:focus {
    color: var(--home-color);
}

.nav-menu {
    display: flex;
}

ul {
    list-style: none;
}

.nav-item {
    display: list-item;
}
.nav-item a {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 0 1.3rem 1.3rem;
    text-decoration: none;
}

.project-tile a {
    background: inherit;
    padding: 8rem 0 0;
    text-decoration: none;
}
.image-label {
    padding: .5rem 0;
    text-align: center;
}

.nav-item a:focus, .nav-item a:hover, .image-label:hover, .image-label:focus {
    background-color: var(--accent-color);
    color: var(--accent-bg-color);
}
.nav-item a:focus, .nav-item a:hover {
    border-radius: 10px;
}


.image-label:hover, .image-label:focus {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#profile-link:hover, #profile-link:focus {
    background-color: var(--accent-bg-color);
    color: var(--accent-color); 
}
/****** navbar large screens *****/
@media (min-width: 600px) {
    #navbar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        padding-bottom: 1rem;
    }
    .nav-menu {
        margin-right: 1rem;
    }
    .nav-item a {
        padding: 1.3rem;
    }
}
/********* avoid scrolling behind sticky header *****/
section {
    scroll-margin-top: 4.125rem;
}
#welcome-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 6rem 2.75rem 2.75rem;
    text-align: center;
    width: 100%;
}
h1 {
    font-size: 2.5rem;
    padding-top: 4rem;
}
.welcome-text {
    color: magenta;
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 66ch;
    padding: 0 2rem;
}
.cameo {
    border-radius: 50%;
    display: block;
    max-width: 250px;
    margin: 2rem;
    height: auto;
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
#projects, #contact {
    padding: 3rem;
}
#projects {
    background: var(--accent-bg-color);
    color: var(--accent-color);
}
.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 2rem;
}
.project-tile {
    background: var(--accent-bg-color);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(14, 18, 136, 0.5);
    width: 300px;
    height: auto;
}
.project-tile img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    height: 187.5px;
    object-fit: cover;
    width: 100%;

}
.profile-link {
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
}
#profile-link {
    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--accent-bg-color);
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.contact-icons {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
#contact svg {
    fill: var(--home-color);
    height: 50px;
    width: 50px;
}

.copyright {
    font-size: .825rem;
    margin-top: 1rem;
    text-align: center;
}
/******** welcome large screens ******/
@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    .cameo {
        margin: 3rem;
    }
    .welcome-text {
        font-size: 1.5rem;
    }
}

/*  ------------ Projects -----------------*/
main {
    background: var(--projects-bg);
    color: var(--accent-color);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 800px;
    padding: 6rem 2rem 3rem;
}
.projects-heading {
    border-bottom: 5px dotted var(--home-color);
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
}
.project-list {
    margin-bottom: 2rem;
}
.project-snippet {
    display: grid;
    gap: .5rem;
    grid-template-areas:
     "title"
     "image"
     "text"
     "link";
    margin-bottom: 2rem;
}
.project-snippet-title {
    /* font-style: italic; */
    font-weight: 400;
    grid-area: title;
    text-align: left;
    margin-bottom: 0;
    margin-left: 2px;
}
.project-snippet-image {
    cursor: pointer;
    grid-area: image;
}
 .caption {
    font-size: .825rem;
    font-weight: 700;
    /* grid-area: caption; */
    margin: .5rem 0 0 2px;
    text-transform: uppercase;
}
.project-snippet-text {
    margin-bottom: 1rem;
}
.project-code-link {
    background:rgb(14, 18, 136);
    color:rgb(0, 255,255);
    font-weight: 700;
    grid-area: link;
    height: 40px;
    padding: .5rem 1rem;
    width: 140px;
}
.project-separator {
    border-bottom: 5px dotted var(--home-color);
    margin: 2rem auto;
    width: 70%;
}
.project-separator:last-child {
    display: none;
}

@media (min-width: 768px){
    .project-snippet {
        grid-column-gap: 4rem;
        grid-template-areas:
          "image title"
          "image text"
          "image link";
        grid-template-columns: 35% 1fr;
        grid-template-rows: auto auto 1fr;
    }
    .project-snippet-title {
        font-size: 1.5rem;
        text-align: left;
    }
    .project-code-link {
        /* margin-left: auto; */
    }
    
 
}